<%- include('headerClient.ejs') %>
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Trang chủ</a>
                        <span>Sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Tìm kiếm...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Danh mục</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll" >
                                                <% for( categoryList of categoryList){ %>
                                                    <a href="/productByCate/<%= categoryList.id %>" class="col-8" ><li ><%= categoryList.category_name %></li></a>
                                                 <%} %>   
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                
                <div class="row ">
                    <% for( productList of productList ) {
                        let maxSentences =15;
                        let price = productList.product_price;
                        let content = productList.product_description; // Nội dung của bài viết
                        // Tách nội dung thành các câu
                        let sentences = content.split(' ');
                        // Khai báo biến limitedContent ở ngoài để sử dụng sau
                        let limitedContent ;
                        if (sentences.length > maxSentences) {
                            // Nếu số câu vượt quá giới hạn, chỉ hiển thị số câu đã chọn và thêm dấu '...'
                            limitedContent = sentences.slice(0, maxSentences).join(' ') + '...';
                        } else {
                            // Nếu số câu không vượt quá giới hạn, không thêm dấu '...'
                            limitedContent = content;
                        };
                        let formattedPrice = price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });%>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                            <a href="/productDetail/<%= productList._id%>">
                              <div class="product__item">
                                <div class="product__item__pic" >
                                  <img src="<%= productList.product_image %>" alt="item">
                                  <span class="label">Mới</span>
                                </div>
                                <div class="product__item__text">
                                  <h6><b><%= productList.product_name %></b></h6>
                                  <h5 style="color: red;"><%= formattedPrice %></h5>
                                  <p><%= limitedContent %></p> 
                                </div>
                              </div>
                            </a>
                          </div>
                    <%}%>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span>...</span>
                            <a href="#">21</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('footerClient.ejs') %>