<%- include('../headerAdmin.ejs') %>
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Danh mục</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <div class="mb-2">
                    <a class="btn btn-dark" href="/admin/addCate">Thêm</a>
                </div>
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên Danh mục</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody id="listCate">
                        <% stt =1; for(category of categories) {%>
                            <tr>
                                <td><%= stt %></td>
                                <td><%= category.category_name%></td>
                                <td align="center">
                                    <a href="<%= category.id %>" class="btn btn-dark">Sửa</a>
                                    <a class="btn btn-danger" id="btnDelete">Xóa</a>
                                </td>
                              </tr>
                        <% stt++ } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<%- include('../footerAdmin.ejs') %>