<%-include('headerAdmin.ejs')%>
<div class="card shadow mb-4 mt-5">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0" >
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>sản phẩm</th>
                        <th>mô tả</th>
                        <th>hình ảnh</th>
                        <th>giá</th>
                        <th>thể loại</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody id="listUser">
                    <% let stt = 1;
                        for(product of products) {
                            let categoryName = '';
                            switch (product.id_Category) {
                                case 1:
                                    categoryName = "Sách trẻ em";
                                    break;
                                case 2:
                                    categoryName = "Doanh nhân";
                                    break;
                                case 3:
                                    categoryName = "Văn chương";
                                    break;
                                case 4:
                                    categoryName = "Âm nhạc";
                                    break;
                                case 5:
                                    categoryName = "Sách giáo khoa";
                                    break;
                                default:
                                    categoryName = "Không xác định";
                                    break;
                            }
                    %>
                    <tr>
                        <td><%=stt%></td>
                        <td><%=product.nameProduct%></td>
                        <td><%=product.description%></td>
                        <td><%=product.images%></td>
                        <td><%=product.price%></td>
                        <td><%=categoryName%></td>
                        <td>
                            <a href="/update/<%=product.id%>" class="btn btn-primary">Sửa</a>
                            <a href="/delete/<%=product.id%>" class="btn btn-dark" >Xóa</a>
                        </td>
                    </tr>
                    <% stt++;}%>
                </tbody>
            </table>
            
        </div>
    </div>
</div>
<%- include('footer.ejs') %>